/* css for the home page */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --heading-font: "DM Serif Text", serif;
  --paragraph-font: "Roboto", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1;
  padding-top: 70px; 
  padding-bottom: 80px;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #00a8e8;
  font-family: var(--heading-font);
}

.hero1 {
  width: 400px;
  border-radius: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 65px;
}

.hero1:hover{
  transition: box-shadow 0.3s;
  box-shadow: 5px 5px 30px #0b91da;
}

.home-content {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  align-items: stretch; 
}

.section {
  flex: 1; 
  margin: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00A8E8;
  border-radius: 20px;
}

.section img {
  width: 100%; 
  height: 600px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section h1,
.section p {
  margin: 10px 10px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.section h1{
  color: #FDF0D5;
  font-family: var(--heading-font);
  margin-top: 0;
}

.section p {
  flex-grow: 1;
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white;
  font-size: 20px;
  font-family: var(--paragraph-font);
}

.intro {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: var(--paragraph-font);
}

/************* Header *************/
#navbar {
  background-color: #007EA7; 
  color: white;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s; 
  z-index: 1;
  padding-right: 20px;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--heading-font);
}

#contact{
  background-color: white;
}

#navbar a#contact{
  color: #003459;
}

#navbar a:hover {
  background-color: #FDF0D5;
  color: #003459;
  transition: transform 0.3s;
  transform: scale(1.05);
}

#navbar img {
  width: auto;
  height: 80px;
  align-self: center;
  padding-left: 20px;
}

/************* Footer *************/
footer {
  background-color: #007EA7;
  font-size: 1.2em;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ccc;
}

footer .logo{
  flex: 1;
  text-align: left;
  width: 6.25rem;
  height: 6.5rem;
}

footer nav{
  flex: 4;
  display: flex;
  justify-content: right;
  gap: 15px;
}

footer nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  display: inline-block;
  text-align: center;
  padding: 20px 15px;
  font-size: 18px;
  font-family: var(--heading-font);
}

footer nav a:hover{
  background-color: #FDF0D5;
  color: #003459;
}

footer .socials{
  flex: 1;
  text-align: right;
}

footer .socials img{
  width: 40px;
  height: 40px;
  object-fit: fill;
  border-radius: 5px;
  margin-left: 10px;
  transition: transform 0.3s;
}

footer .socials img:hover{
  transform: scale(1.5);
}

/************* Experience page css *************/
.experience_div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 50px;
  padding: 20px 20px 50px 20px;
}

.experience_div .content{
  flex: 1;
}

.experience_div .experience_img{
  flex-shrink: 0;
  height: 400px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 52, 89, 0.5);
}

.experience_div .experience_img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content h1{
  text-align: left;
  margin-bottom: 10px;
  font-family: var(--heading-font);
}

#experience{
  text-align: center;
  color: #00A8E8;
  margin-bottom: 20px;
}

.experience_p{
  font-family: var(--paragraph-font);
}

/************* Projects page css *************/
#project_box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

#sub_h1 {
  text-align: center;
  font-size: 5rem;
  font-family: var(--heading-font);
}

#sub_h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.img_wrap {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px #003459;
}

.img_wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(253, 240, 213, 0.9);
  color: #003459;
  visibility: hidden;  /* Keep this hidden for the modal, only visible on hover */
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
  transform: scale(1.02);
}

.img_wrap:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.img_wrap:focus {
  outline: 3px solid #fca311;
  outline-offset: 3px;
}


a.clickable{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a.clickable:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#closeModal {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
}

#closeModal:hover,
#closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.viewer .close-viewer {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.viewer .viewer-img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}

.viewer .viewer-description {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.viewer .close-viewer:focus {
  outline: 2px solid yellow;
}

/* Add Project Form */
#project-form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Form Input Fields */
#project-form input,
#project-form textarea,
#project-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#project-form input[type="file"] {
  padding: 0;
}

#project-form input:focus,
#project-form textarea:focus,
#project-form button:focus {
  outline: none;
  border-color: #003459;
}

/* Textarea */
#project-form textarea {
  resize: vertical;
  min-height: 120px;
}

/* Submit Button */
#project-form button {
  background-color: #003459;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#project-form button:hover {
  background-color: #FDF0D5;
  color: black;
  border: 1px black solid;
}

/* Preview Image */
#preview {
  max-width: 30%;
  margin-top: 10px;
  display: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Form Styles */
.contactus{
  text-align: center;
  padding-top: 100px;
}

form {
  display: inline-block;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

p + p {
  margin-top: 1em;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
  background-color: #00A8E8;
  color: white;
  width: 200px;
  height: 40px;
}

#feedback {
  background-color: #FDF0D5;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1em auto;
  padding: 1em;
  width: fit-content;
  text-align: center;
  display: none;
}

.moveDown {
  margin-top: 3em;
}

/* This will apply for screens smaller than 650px */
@media screen and (max-width: 650px) {
  #project-form {
    padding: 0 20px;
    max-width: 90%; 
    margin: 0 auto; 
  }
  .viewer {
    flex-direction: column; 
    justify-content:flex-end;
    padding: 20px;
  }

  .viewer-img {
    max-width: 100%;
    max-height: 60%; 
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .viewer-description {
    margin-top: 10px; 
  }
}

/* This will apply for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
  .experience_div {
    flex-direction: column; /* Stack items vertically */
    gap: 20px;
    padding: 20px;
  }

  .experience_div .experience_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .experience_div .experience_img {
    width: 100%;
    max-width: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 52, 89, 0.5);
  }
  

  #project-form {
    padding: 0 20px; 
    max-width: 650px; 
    margin: 0 auto; 
  }

  .home-content {
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: stretch; 
  }
}

/* This will apply for screens smaller than 700px */
@media screen and (max-width: 700px) {
  #project-form {
    padding: 0 20px;
    max-width: 450px; 
    margin: 0 auto;
  }
}
